body
{
    background-color: #282c34;
    height: 100%;
    width: 100%;
    background-position: 90% 90%;
    background-size: 1920px 1200px;
    overflow-y: hidden;  
    position: fixed;
}

.App-header
{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Title
{
  display: none;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 10vmin);
  color: gold;
}

.MenuDescription
{
  min-height: 0.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: gray;
  overflow:hidden;
  opacity: 0.3;
}

.GameRank
{
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: gray;
  opacity: 0.6;
}
.GameChar
{
  display: none;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 15vmin);
  color: gold;
}
.GameScore
{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}






.GameOverTxt
{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 20vmin);
  color: white;
}
.GameOverInfo
{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
